<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.shop.web.api.dao.TbOrderDao">
<sql id="content">
    a.order_id AS orderId,
    a.payment,
    a.payment_type AS paymentType,
    a.post_fee AS postFee,
    a.status,
    a.create_time AS createTime,
    a.update_time AS updateTime,
    a.payment_time AS paymentTime,
    a.consign_time AS consignTime,
    a.end_time AS endTime,
    a.close_time AS closeTime,
    a.shipping_name AS shippingName,
    a.shipping_code AS shippingCode,
    a.user_id AS UserId,
    a.buyer_message AS buyerMessage,
    a.buyer_nick AS buyerNick,
    a.buyer_rate AS buyerRate
</sql>

    <select id="selectOrsders" resultType="TbOrder">
        SELECT
          <include refid="content"/>
          FROM  tb_order AS a
          <where>
              1=1
              <if test="order.status != null and order.status != ''">
                  a.status = #{order.status}
              </if>
          </where>
        LIMIT  #{start},#{length}
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tb_order AS a
        <where>
            1=1
            <if test="status != null and status != ''">
                a.status = #{status}
            </if>
        </where>
    </select>
</mapper>

